/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff 50%, #0a0a37 50%);
}

/* Container */
.container {
    display: flex;
    height: 100vh;
}

/* Left Panel */
.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-panel h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1f1f1f;
}

.left-panel img {
    width: 60%;
}

/* Right Panel */
.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    color: white;
    background: linear-gradient(to right, #000000, #2e2e91);
}

.right-panel h2 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.right-panel p {
    font-size: 18px;
    color: #ffffff;
}

.right-panel a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.right-panel a:hover {
    text-decoration: underline;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-top: 15px;
    font-size: 16px;
}

input {
    padding: 12px;
    margin-top: 5px;
    border-radius: 25px;
    border: none;
    width: 100%;
}

.remember-me {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 10px;
}

.login-btn {
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #01fb1e;
    color: #0a0a37;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
}

.login-btn:hover {
    background-color: #2bf415;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(5, 4, 6, 0.2);
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}