/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f7;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #2a5298;
    color: white;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-section {
    text-align: center;
}

.profile-icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    background-color: #4b6cb7;
}

.logout-btn {
    padding: 10px;
    background-color: #d9534f;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c9302c;
}

/* Main Content */
.content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
}

.header .icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

/* Notification Section */
.notification-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.notification-header {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4449c7;
}

.notification-box {
    background-color: #f9f9ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-box label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.notification-box input, 
.notification-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.notification-box textarea {
    resize: none;
}

.send-btn {
    padding: 10px 20px;
    background-color: #4b6cb7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.send-btn:hover {
    background-color: #32487c;
}

